NEXT_PUBLIC_0G_NETWORK_NAME="0G Galileo Testnet"
NEXT_PUBLIC_0G_CHAIN_ID="16602"
NEXT_PUBLIC_ORBIT_DEMO_MODE="mock"

# Created by `npm run wallet:create` for local/testnet use only.
ORBIT_DEPLOYER_PRIVATE_KEY=""
ORBIT_DEPLOYER_ADDRESS=""
